.header {
    padding: 50px;
    font-family: 'optima, sans-serif';
    background-image: url("./Assets/header.jpg");
    background-position: center center;
    border-radius: 15px;
}
body {
    background: linear-gradient(#f17806,#e8751a, #fda403 );
}
.header h1 {
    display: inline-block;
    font-size: 50px;

}

h1{
    color: #3d162b;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Stencil Std, fantasy, cursive';
    font-size: 20px;
   
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;}



.All-Applications{

    padding: 50px;
    display: flex;
    flex-wrap: wrap;
   
}
    
.Applications {
    
    flex: 0 0 600px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 3px; }

.pic1 {
    width: 100%;
}

.pic2 {
    width: 15%;
    border-radius: 10px;
    border-style: solid;
}

@media screen and (max-width: 750px) {
    main,
    nav {
        flex-direction: column;
    }
}

footer {
    
}